<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <!--打开延迟加载开关-->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!--将积极加载消息改为按需求加载-->
        <setting name="aggressiveLazyLoading" value="false"/>
    </settings>
    <!--设置类型的别名-->
    <typeAliases>
        <typeAlias type="com.geek.pojo.Message" alias="message"></typeAlias>
        <typeAlias type="com.geek.pojo.Emp" alias="emp"></typeAlias>
        <typeAlias type="com.geek.pojo.Dep" alias="dep"></typeAlias>
        <typeAlias type="com.geek.pojo.Contract" alias="contract"></typeAlias>
        <typeAlias type="com.geek.pojo.CheckWork" alias="checkWork"></typeAlias>
        <typeAlias type="com.geek.pojo.WorkOn" alias="workOn"></typeAlias>
    </typeAliases>
    <!--配置dao文件-->
    <mappers>
        <mapper resource="mapper/mapper-message.xml"></mapper>
        <mapper resource="mapper/mapper-taskreceive.xml"></mapper>
        <mapper resource="mapper/mapper-tasksend.xml"></mapper>
        <mapper resource="mapper/mapper-dominant.xml"></mapper>
        <mapper resource="mapper/mapper-dayoff.xml"></mapper>
        <mapper resource="mapper/mapper-emp.xml"></mapper>
        <mapper resource="mapper/mapper-standardsalary.xml"></mapper>
        <mapper resource="mapper/mapper-workon.xml"></mapper>
        <mapper resource="mapper/mapper-leave.xml"></mapper>
        <mapper resource="mapper/mapper-salary.xml"></mapper>
        <mapper resource="mapper/mapper-salaryissue.xml"></mapper>
        <mapper resource="mapper/mapper-contract.xml"></mapper>
        <mapper resource="mapper/mapper-checkWork.xml"></mapper>
        <mapper resource="mapper/mapper-rimbursementissue.xml"></mapper>
        <mapper resource="mapper/mapper-yearLeave.xml"></mapper>
        <mapper resource="mapper/mapper-dockpay.xml"></mapper>
        <mapper resource="mapper/mapper-reimbursement.xml"></mapper>
        <mapper resource="mapper/mapper-reimbursementDetail.xml"></mapper>
        <mapper resource="mapper/mapper-reimbursementAll_bo.xml"></mapper>
    </mappers>
</configuration>
