
.bq{
    width: 500px;
    height: 30px;
    font-size: 16px;
    color: #009688;
    text-align: left;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 10px;
    float: left;
}
hr{
    color: #999999;
}
.info{
    width: 400px;
    height: 35px;
    margin-left: 15px;
    margin-top: 5px;
    color: #999;
    float: left;
}
.btn{
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 15px;
    background-color: white;
    border: 1px solid #009688;
    color: #009688;
    margin: auto;
    cursor: pointer;


}