
h2{
    color: #009688;
    font-weight: 400;
}
.btn{
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 15px;
    background-color: white;
    border: 1px solid #009688;
    color: #009688;
    margin: 15px auto;
    cursor: pointer;

}
.btn:focus{
    outline: none;
}

.empInfo{
    width: 270px;
    height: 440px;
    margin: auto;
}
.info{
    height: 50px;
    color: #999;
    margin: auto;
}
.contact{
    width: 200px;
    height: 25px;
    border-radius: 100px;
    border: 1px solid #dedede;
    color: #666;
    padding-left: 8px;
}
.head{
    width: 75px;
    height: 75px;
    border-radius: 75px;
    border: 1px solid #B2B2B2;
    margin-bottom: 10px;
}